In [1]:
# Dependencies
import json
import requests
# from config import api_key
import pandas as pd
# import pprint
import numpy as np
import datetime
import matplotlib.pyplot as plt
%matplotlib inline
# import pprint

In [2]:
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()

In [6]:

msft = yf.Ticker("MSFT")

# get stock info
# msft.info

In [7]:
# Import the worksheet with stocks

portfolio_df = pd.read_excel('Millenial stocks.xlsx')

portfolio_df.head()

             Stock Ticker
0        Snap Inc    SNAP
1           Tesla    TSLA
2           Google  GOOGL
3            Apple   AAPL
4  Banco Santander    SAN

In [23]:
# list of tickers to pull from Yahoo Finance API based on the imported file with tickers.
tickers = portfolio_df['Ticker']
tickers.head()

0     SNAP
1     TSLA
2    GOOGL
3     AAPL
4      SAN
Name: Ticker, dtype: object

In [9]:
# Start and end date for returned stock data
stocks_start = datetime.datetime(2019, 6, 20)
stocks_end = datetime.datetime(2019, 7, 24)

In [10]:
#Get stock data

def get(tickers, startdate, enddate):
    def data(ticker):
        return (pdr.get_data_yahoo(ticker, start=startdate, end=enddate))
    datas = map(data, tickers)
    return(pd.concat(datas, keys=tickers, names=['Ticker', 'Date'] ))
               
all_data = get(tickers, stocks_start, stocks_end)

[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded

Exception in thread Thread-69:
Traceback (most recent call last):
  File "/Users/kevincoyne/anaconda3/lib/python3.7/site-packages/yfinance/__init__.py", line 313, in history
    quotes = self._parse_quotes(data["chart"]["result"][0])
  File "/Users/kevincoyne/anaconda3/lib/python3.7/site-packages/yfinance/__init__.py", line 162, in _parse_quotes
    timestamps = data["timestamp"]
KeyError: 'timestamp'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/kevincoyne/anaconda3/lib/python3.7/threading.py", line 917, in _bootstrap_inner
    self.run()
  File "/Users/kevincoyne/anaconda3/lib/python3.7/threading.py", line 865, in run
    self._target(*self._args, **self._kwargs)
  File "/Users/kevincoyne/anaconda3/lib/python3.7/site-packages/multitasking/__init__.py", line 102, in _run_via_pool
    return callee(*args, **kwargs)
  File "/Users/kevincoyne/anaconda3/lib/python3.7/site-packages/yfinance/__init__.py", line 470, in _download_one_threaded
    period, interval, prepost, proxy)
  File "/Users/kevincoyne/anaconda3/lib/python3.7/site-packages/yfinance/__init__.py", line 483, in _download_one
    proxy=proxy)
  File "/Users/kevincoyne/anaconda3/lib/python3.7/site-packages/yfinance/__init__.py", line 316, in history
    raise ValueError(self.ticker, err_msg)
ValueError: ('SYM', 'No data found for this date range, symbol may be delisted')

[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded

Exception in thread Thread-80:
Traceback (most recent call last):
  File "/Users/kevincoyne/anaconda3/lib/python3.7/site-packages/yfinance/__init__.py", line 313, in history
    quotes = self._parse_quotes(data["chart"]["result"][0])
  File "/Users/kevincoyne/anaconda3/lib/python3.7/site-packages/yfinance/__init__.py", line 162, in _parse_quotes
    timestamps = data["timestamp"]
KeyError: 'timestamp'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/kevincoyne/anaconda3/lib/python3.7/threading.py", line 917, in _bootstrap_inner
    self.run()
  File "/Users/kevincoyne/anaconda3/lib/python3.7/threading.py", line 865, in run
    self._target(*self._args, **self._kwargs)
  File "/Users/kevincoyne/anaconda3/lib/python3.7/site-packages/multitasking/__init__.py", line 102, in _run_via_pool
    return callee(*args, **kwargs)
  File "/Users/kevincoyne/anaconda3/lib/python3.7/site-packages/yfinance/__init__.py", line 470, in _download_one_threaded
    period, interval, prepost, proxy)
  File "/Users/kevincoyne/anaconda3/lib/python3.7/site-packages/yfinance/__init__.py", line 483, in _download_one
    proxy=proxy)
  File "/Users/kevincoyne/anaconda3/lib/python3.7/site-packages/yfinance/__init__.py", line 316, in history
    raise ValueError(self.ticker, err_msg)
ValueError: ('BUFF', 'No data found for this date range, symbol may be delisted')

[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded

In [11]:

all_data.head()

                    Open   High    Low  Close  Adj Close      Volume
Ticker Date
SNAP   2019-06-20  14.83  15.00  14.63  14.84      14.84  18754000.0
       2019-06-21  14.79  14.82  14.53  14.56      14.56  13530800.0
       2019-06-24  14.68  15.01  14.64  14.76      14.76  27563100.0
       2019-06-25  14.69  15.00  14.28  14.53      14.53  25174500.0
       2019-06-26  14.75  14.93  14.64  14.71      14.71  18330800.0

In [12]:
all_data.head(100)
# all_data.info

df = all_data

df.groupby(['Ticker']).groups.keys()

dict_keys(['SNAP', 'TSLA', 'GOOGL', 'AAPL', 'SAN', 'TXN', 'KO', 'BYND', 'MSFT', 'DIS', 'FB', 'HD', 'MA', 'JNJ', 'TWLO', 'NUE', 'PH', 'NFLX', 'JCP', 'SQ', 'SHOP', 'BAC', 'UNP', 'UNH', 'CSX', 'HON', 'IBM', 'MDT', 'AMZN', 'DPZ', 'DIN', 'CRWD', 'JPM', 'GS', 'MCD', 'VMW', 'SYMC', 'AVGO', 'TELL', 'TGT', 'PYPL', 'FDX', 'COST', 'WMT', 'ZM', 'AYX', 'PSJ', 'IGV', 'BBBY', 'TJX', 'PEP', 'LEVI', 'WEX', 'BA', 'DB', 'KSS', 'C', 'CVS', 'REAL', 'SLB', 'STZ', 'JWN', 'DISH', 'ZS', 'CGC', 'GE', 'BUD', 'NKE', 'ERIC', 'NOK', 'DAL', 'LHX', 'MU', 'XOM', 'NVDA', 'M', 'WORK', 'PG', 'CAT'])

In [20]:

all_data.head()

                    Open   High    Low  Close  Adj Close      Volume
Ticker Date
SNAP   2019-06-20  14.83  15.00  14.63  14.84      14.84  18754000.0
       2019-06-21  14.79  14.82  14.53  14.56      14.56  13530800.0
       2019-06-24  14.68  15.01  14.64  14.76      14.76  27563100.0
       2019-06-25  14.69  15.00  14.28  14.53      14.53  25174500.0
       2019-06-26  14.75  14.93  14.64  14.71      14.71  18330800.0

In [22]:
# Also only pulling the ticker, date and adj. close columns for our tickers.

tickers_df = all_data[['Open','High','Low','Close','Adj Close','Volume']].reset_index()
tickers_df.head()

  Ticker       Date   Open   High    Low  Close  Adj Close      Volume
0   SNAP 2019-06-20  14.83  15.00  14.63  14.84      14.84  18754000.0
1   SNAP 2019-06-21  14.79  14.82  14.53  14.56      14.56  13530800.0
2   SNAP 2019-06-24  14.68  15.01  14.64  14.76      14.76  27563100.0
3   SNAP 2019-06-25  14.69  15.00  14.28  14.53      14.53  25174500.0
4   SNAP 2019-06-26  14.75  14.93  14.64  14.71      14.71  18330800.0

In [16]:
tickers_df.to_csv("final_stock_data", encoding='utf-8', index=True)

In [17]:
adj_close_latest = adj_close[adj_close['Date']==stocks_end].reset_index()
adj_close_latest

NameError: name 'adj_close' is not defined

In [21]:
# Merge the portfolio dataframe with the adj close dataframe; they are being joined by their tickers.

merged_portfolio = pd.merge(portfolio_df, tickers_df)
merged_portfolio.head()

,Stock,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,Snap Inc,SNAP,2019-06-20,14.83,15.00,14.63,14.84,14.84,18754000.0
1,Snap Inc,SNAP,2019-06-21,14.79,14.82,14.53,14.56,14.56,13530800.0
2,Snap Inc,SNAP,2019-06-24,14.68,15.01,14.64,14.76,14.76,27563100.0
3,Snap Inc,SNAP,2019-06-25,14.69,15.00,14.28,14.53,14.53,25174500.0
4,Snap Inc,SNAP,2019-06-26,14.75,14.93,14.64,14.71,14.71,18330800.0

In [19]:
merged_portfolio.to_csv("final_stock_data", encoding='utf-8', index=True)